.swiper {  
  flex: 1;
  box-sizing: content-box;
  border-radius: 2rem;
  box-shadow: 0.3rem 0.5rem 0.5rem 0.2rem var(--color-contrast-3);
}

.swiper-slide { 
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background: var(--color-base);
  color: var(--color-contrast);
  padding: 2.5rem 4rem;
  gap: 1rem;

  & p {
    text-wrap: balance;
  }

  & h5 {
    margin-top: -11px;
  } 
}

.swiper-slide img {
  display: flex;
  max-height: 11dvh;

}

.swiper-button-prev, 
.swiper-button-next{
  color: var(--color-contrast);
  
}