<article class='wrap-container--about' id="about">
  <div class="image-container">
    <img loading="lazy" src="/assets/sebastian-rotman-saffie.webp" alt="Sebastián-Rotman" />
  </div>

  <div class='text-container--about'>
    <h2>¿Quién Soy?</h2>
    <p>
      Mi nombre es Sebastián soy de origen chileno, de profesión Psicólogo y <strong>hace 3 años en España</strong>. 
      <br /><br />
      Comencé mi carrera profesional como <strong>Consultor de Empleabilidad en Trabajando.com</strong> apoyando a diferentes profesionales en su búsqueda de empleo en Chile en el año 2017.
      <br /><br />
      <strong>Luego de asesorar a más de 250 perfiles</strong> decidí dar otro paso en mi vida y entré a trabajar en <strong>Nextstep como Director de Orientación</strong>. Esta empresa fomenta el estudio de postgrados en el extranjero y asesora durante todo el proceso hasta lograr la aceptación en una universidad. 
      <br /><br />
      Estuve más de 3 años y <strong>asesoré a más de 1300 personas</strong> en sus proyectos formativos, profesionales y vitales. Tuve a cargo un equipo de 3 profesionales y fue una de las experiencias laborales más gratificantes para mí.
      <br /><br />
      Al asesorar a tantas personas decidí también tomar rumbo y estudiar una maestría relacionada a mis intereses y el 2021 con mucha incertidumbre me vine a España a estudiar un <strong>Máster en Formación y Orientación para el Trabajo en la Universidad de Sevilla</strong>.
      <br /><br />
      <strong>A finales del 2021</strong>, me dieron una oportunidad en una <strong>Startup relacionada a Talento IT</strong> y así me inserté en el <strong>Mercado Español</strong>. Viví situaciones personales y profesionales difíciles el 2022 y me mudé a Madrid.
      <br /><br />
      Desde el 2018 asesoro de manera particular y el <strong>año 2022 decidí crear SRS Empleabilidad y Formación</strong>.
      <br /><br />
      El 2023 fue un año movido para mí, estuve en 5 procesos diferentes y en </strong>Abril del 2023 entré a <strong>Factoría F5 como Coordinador Sociolaboral</strong> para el primer proyecto de la Asociación en el <strong>Orange Digital Center</strong>. 
      <br /><br />
      Durante el 2024 <strong>diseñé el primer piloto de Seguimiento de Empleabilidad de la Institución a nivel nacional</strong> y sigo acompañando individualmente a talentos que quieren tener una oportunidad profesional en España.
      <br /><br />
      Siempre me ha gustado acompañar a personas en sus procesos de búsqueda profesional y vital, <strong>no hay un camino lineal</strong> y muchas veces necesitamos un guía que nos muestre las opciones para que <strong>nosotros podamos decidir</strong>.
      <br /><br />
      Si aún estás pensando si embarcarte en un proceso pero no sabes si el acompañamiento es para tí, <strong>¡Conversemos!</strong>
    </p>
  </div>
</article>


<style>
  .wrap-container--about{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5rem;
  padding: 4rem clamp(1rem, 0.714rem + 1.43vw, 2rem);

  & p {
    text-align: justify;
    text-wrap: pretty;
    padding-right: 4rem;
  }

  @media (max-width: 1024px) and (min-width: 768px){
    flex-direction: column;
    align-items: center;

    & p {
      padding-right: clamp(1rem, 0.714rem + 1.43vw, 2rem);
    }
  }

  @media (width <= 425px) {
    justify-content: center;
    & p {
      padding-right: clamp(1rem, 0.714rem + 1.43vw, 2rem);
    }
  }
  
}

.image-container {
  display: flex;
  width: 40vb;
  max-width: 500px;  

  & img {
    flex-grow: 1;
    object-fit: cover;
    overflow: hidden;
    
    @media (max-width: 1024px) and (min-width: 768px){
      object-position: 0 -30px;
      aspect-ratio: 16/9;
    }
  }

  
}

.text-container--about {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  flex: 1;
  color: var(--color-contrast-3);

}

</style>