---
import Accordion from './Accordion.astro';
import ButtonCTA from './ButtonCTA.astro';

const items = [
  {
    title: '¿Cuánto dura el servicio?',
    content:
      'Entre 1 - 2 meses dependiendo de disponibilidad de candidato y consultor',
  },
  {
    title: '¿Cuántas sesiones son , en qué modalidad y cuánto dura cada una?',
    content:
      'Mínimo 4 y Máximo 6 dependiendo de las necesidades del perfil, online y entre 60-90 minutos por sesión.',
  },
  {
    title: '¿Conseguiré un empleo rápido?',
    content:
      'La búsqueda depende de varios factores, no prometo encontrar trabajo rápido pero sí focalizar la búsqueda y aumentar las posibilidades de generar más de una entrevista en 3 meses. Si no se consigue ninguna el servicio continúa hasta que se genere al menos una.',
  },
  {
    title: '¿Revisamos la parte legal de conseguir trabajo en España?',
    content:
      'No, es por esto que también en primera instancia en la llamada inicial conversamos de las posibilidades y de los tiempos estimados (hay que considerar que dependiendo del tipo de estancia los tiempos de resolución en promedio son entre 3 - 6 meses en este país).',
  },
  {
    title: '¿El CV debo hacerlo yo?',
    content:
      'No, es un trabajo en conjunto. El traspaso al modelo enviado depende del candidato, luego revisamos y corregimos en conjunto. Finalmente se traslada a una plantilla simple y ordenada seleccionada por el candidato.',
  },
];
---

<article class="after-service-section-wrap">
  <h3>Y una vez que consigas una entrevista…</h3>
  <Accordion items={items} client:load />
  <p>
    No te prometo el trabajo de tus sueños, pero sí que tendrás un perfil mucho más
    enfocado con el cuál tus posibilidades de obtener entrevistas en España
    aumentarán.
  </p>
  <p>
    <strong>¡Quieres más detalles del ¿Cómo lo hago? conversemos...</strong>
  </p>
  <ButtonCTA
    phoneNumber="+34666822778"
    message="¡Hola! Me gustaría obtener más información sobre tus servicios."
    client:load
  />
</article>



<style>
  .after-service-section-wrap {
  display: grid;
  place-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 0rem clamp(1rem, 0.714rem + 1.43vw, 2rem) 4rem;
  justify-items: center;
  z-index: -10;

  & a {
    width: min-content;
  }
}
</style>