---
interface Props {
  phoneNumber: string;
  message: string;
}

const { phoneNumber, message } = Astro.props as Props;

const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
---

<a
  href={whatsappUrl}
  target="_blank"
  rel="noopener noreferrer"
  class="whatsapp-button"
>
  <span>
    <img src="src/assets/whatsApp-icon.webp" alt="icono-whatsapp" />
  </span>
  ¡Agenda tu llamada gratuita!
</a>




<style>
  .whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: min(320px, min-content);
  background-color: var(--color-base-2);
  color: var(--color-base);
  font-size: clamp(1rem, 0.786rem + 1.07vw, 1.75rem);
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  text-wrap: nowrap;
  transition: border-color 0.25s, background-color 0.25s ease-out;
 
  & span {
    display: flex;
    height: 4vb;
    max-width: 60px;
    & img {
      flex-grow: 1;
    }
  }

  &:hover {
    background-color: var(--color-contrast-2);
    border-color: var(--color-base);
  }
}
</style>