<section class="form-container-wrap" id="form-contact">
  <div class="form-container__title">
    <h2>¡Resuelve tus dudas!</h2>
    <p>
      Contáctame y obtén respuesta rápida. No importa cuán compleja sea tu
      pregunta, estoy aquí para brindarte la información que necesitas de forma
      clara y concisa.
    </p>
  </div>
  <form class="form-container" action="">
    <label class="form-label" for="name">
      <input type="text" id="name" placeholder="¿Cuál es tu nombre?" />
    </label>
    <label class="form-label" for="email">
      <input type="email" id="email" placeholder="¿Cuál es tu email?" />
    </label>
    <label class="form-label" for="message">
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        placeholder="¿En qué podemos ayudarte?"></textarea>
    </label>
    <label>
      <input type="checkbox" name="checkbox" id="checkbox" required /> 
      <span>Acepto la política de privacidad.</span><a href="/aviso-legal">+ info Política de Privacidad</a>
    </label>

    <button class="btn-submit">Enviar</button>
  </form>
  <figure class="graph03">
    <img loading="lazy" src="/assets/graph-03.svg" alt="gráfico-03" />
  </figure>
</section>


<style>
  .form-container-wrap {
  position: relative;
  display: flex;
  flex-direction: column; 
  gap: 4rem;
  padding: 5rem clamp(1rem, 0.714rem + 1.43vw, 2rem);
  overflow: hidden;
}

.form-container__title {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;

  & label:has(input[name="checkbox"]){
    display: flex;
    text-wrap: nowrap;
    align-items: stretch;
    gap: 1rem;
    width: max(35%, 320px);
  }
  
}

.form-label {
  display: flex;
  width: max(50%, 320px);
  
  & input, textarea {
    flex-grow: 1;
    padding: 0.75rem;
    border-radius: 11px;
    font-family: "Baloo 2", Arial, sans-serif;
    font-weight: 400;
  }
}

.btn-submit {
  display: flex;
  justify-content: center;
  width: max(50%, 300px);
  padding:  0.5rem 1rem; 
}

.graph03 {
  position: absolute;
  width: 35vi;
  right: -98px;
  top: 70%;
  transform: translateY(-70%); 
  animation: float 1s ease-in-out infinite alternate; 
  animation-play-state: paused; 

  @media (width < 425px) {
    display: none;
  }
}

.form-container-wrap:hover .graph03 {
  animation-play-state: running; 
}

@keyframes float {
  0% {
    transform: translateY(-60%); 
  }
  100% {
    transform: translateY(-70%); 
  }
}
</style>