---

---

<section class="graphics-container">
  <figure>
    <img loading="lazy" src="/assets/profesionales.webp" alt="Estudiantes-de-maestria" />
  </figure>

  <div class="squard-1"></div>

  <div class="squard-2"></div>

  <div class="squard-3"></div>
</section>


<style>
  .graphics-container {
  position: relative;
  display: grid;
  background-color: var(--color-acent-2);
  grid-template-rows: repeat(2, 280px);
  grid-template-areas:
    "a a b b b . . . . "
    "c c c c c . . . . "
  ;

  & figure {
    position: absolute;
    display: flex;
    width: max(60vw);
    min-width: 320px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    & img {
      flex-grow: 1;
      object-fit: contain;
      overflow: hidden;
    }
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    grid-template-rows: repeat(2, 185px);
  }

  @media (width <=428px) {
    grid-template-rows: repeat(2, 125px);
  }
}

.squard-1 {
  grid-area: a;
  background-color: var(--color-contrast);

}

.squard-2 {
  grid-area: b;
  background-color: var(--color-acent);

}

.squard-3 {
  grid-area: c;
  background-color: var(--color-base-2);
}
</style>