

<nav class="header-logo">
  <img class="logo" src="/imagotipo-srs.svg" alt="Logotipo-SRS-Empleabilidad-y-Formación"/>
</nav>


<style>
  .header-logo {
  display: grid;
  place-content: center;
}

.logo {
  height: clamp(7rem, 6.143rem + 4.29vw, 10rem);
  padding: 0rem;
  will-change: filter;
  transition: filter 300ms;

}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-contrast-2));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

</style>