---
import { Slider } from '@components/Slider.jsx';

const testimonialCards = [
  {
    id: 1,
    name: 'Tomas Kelly Barrios',
    quote: 'Sebastián es un profesional muy confiable en su trabajo. Está comprometido en entregar acompañamiento profesional y siempre dispuesto a dar consejos, más allá de lo que a veces le competía. Siempre dispuesto a hablar y al pendiente del proceso de búsqueda laboral. Es un profesional y una persona certera, que ayudó a reenfocar mi carrera profesional y mi curriculum en el extranjero. Sin dudas volvería a contactar a Sebastián en un futuro para orientación profesional.',
    rol: 'Loyalty & Strategic Partnership | Business Development |Customer Experience | Analytics',
    image: 'src/assets/photo-Tomas Kelly Barrios.webp',
  },
  {
    id: 2,
    name: 'Diego Díaz Morales',
    quote: 'Sebastian fue y ha sido un tremendo apoyo durante todo mi proceso de postulación al Master y todo lo que se viene ahora que he sido seleccionado. Sin duda que sin el, lo mas probable, es que haya sido otro el resultado. Le agradezco su entrega, convicción, disposición y profesionalismo desde el principio y en todo momento, los que hicieron posible cumplir uno de mis sueños. Gracias Seba por todo y sin duda seguiremos en contacto para todo lo que se viene.',
    rol: 'Project Manager | Product Owner | Process Engineer',
    image: 'src/assets/photo-Diego Díaz Morales.webp',
  },
  {
    id: 3,
    name: 'Oliver Stehr',
    quote:'Muy satisfecho con el servicio. Me ayudó a perfeccionar el currículum y a ordenar mi historia. Demuestra que le importa realmente que a uno le vaya bien. Logré entrar a la empresa que quería.',
    rol: 'Innovación Digital',
    image: 'src/assets/photo-Oliver Stehr.webp',
  },
  {
    id: 4,
    name: 'José Domingo Cruz',
    quote: 'Conozco a Sebastián desde el colegio. Hace un año retomé el contacto con él porque pensaba en estudiar un posgrado en el Reino Unido pero no tenía claro cómo afrontar el proceso. De manera super simple y pragmática, Sebastián me mostró y orientó en los programas que se ajustaban mejor a mis necesidades, requerimientos y habilidades. En base a eso, él también me contactó con una persona que finalmente me guio en el proceso de postulaciones que hoy me tiene estudiando en el LSE. Recomendado.',
    rol: 'Data Analytics & Product Strategy | Engineer and MSc Information Systems',
    image: 'src/assets/photo-José Domingo Cruz.webp',
  },
  {
    id: 5,
    name: 'Alfonso Montes Beddig',
    quote:'Trabajé con Sebastián el año 2017 , me ayudó muchísimo para alinear de la mejor forma mis aptitudes, conocimientos y experiencia para un mejor desarrollo de mi carrera. Además siempre ha estado disponible para preguntas, incluso mucho tiempo después de terminado el proyecto. Un agrado trabajar con Sebastián, 100% recomendable.',
    rol: 'Ingeniería | Operaciones | Innovación',
    image: 'src/assets/photo-Alfonso Montes Beddig.webp',
  },
];
---

<article>
  <div class="wrap-container-testimonial">
    <div class="container-left">
      <h2>Lo que mis clientes opinan</h2>
    </div>

    <div class="cards-container-right">
      <Slider  client:load slides={testimonialCards} />
    </div>
  </div>
</article>



<style>
  .wrap-container-testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-base-2);
  color: var(--color-base);
  padding: 5rem clamp(1rem, 0.714rem + 1.43vw, 2rem);
  height: max-content;
  align-items: center;
  gap: 4rem;

}

.container-left {
  display: flex;
  flex-direction: column;
  width: max(50vi, 320px);
  flex: 2 1 auto;

  & h2{
    font-size: clamp(3.125rem, 2.161rem + 4.82vw, 6.5rem);
    line-height: clamp(3.125rem, 2.304rem + 4.11vw, 6rem);
    font-weight: 600;
  }

}

.cards-container-right {
  display: flex;
  flex: 1 1 auto;
  width: max(38vi, 320px);
  max-width: max(40vi, 320);
  min-height: 50vb;
}

</style>